
.DS_Store

__pycache__/
*.pyc
.venv/
.idea/

*.xcuserdata
*.xcuserstate
*.xcuserdatad/
*.xcuserstate
*.xcworkspace/xcuserdata

# Xcode user settings
*.xcuserdatad/
*.xcuserstate
*.xcworkspace/xcuserdata/
WalletBuddies/WalletBuddies.xcodeproj/project.xcworkspace/xcuserdata/
